.menu-container {
    font-size: 13px;
    position: relative;
    background-color: #393a3d;
    height: 100%;
    width: auto;
}

.logo-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 48px;
}

.logo{
    background: url('/assets/Sprites.5c668001.png') no-repeat -424px -86px;
    margin-right: 10px;
}

.logo-image{
    height: 32px;
    display: block;
}

.logo-image img{
    height: 32px;
}

.menu-item-list{
    height: calc(100vh - 48px);
    padding-top: 14px;
}

.scroller{
    overflow: auto;
}

.scroller::-webkit-scrollbar {
    width: 6px;
    height: 6px;
} 

.scroller::-webkit-scrollbar-thumb {
    background-color: #d4d7dc;
}

.scroller::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(236,238,241,1);
    background-color: #eceef1;
}

.menu-item{
    height: 42px;
    border-left: 6px solid transparent;
    padding-left: 8px;
    padding-right: 14px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    color: #fff;
    cursor: pointer;
}

.menu-item:hover, .menu-item:focus{
    background-color: rgba(212,215,220,0.2);
    /* border-left-color: rgb(44, 160, 28); */
}

.menu-item-active{
    background-color: rgba(212,215,220,0.2);
    border-left-color: rgb(44, 160, 28);
}

.menu-item__icon {
    width: 24px;
}

.menu-item__text{
    line-height: 42px;
    font-weight: 400;
    margin-left: 8px;
}

.menu-logo{
    display: flex;
    background-color: #38393d;
    padding: 10px;
    height: 28px;
    align-items: center;
    justify-content: center;
}

.menu-bars__icon{
    background: url(/assets/Sprites.5c668001.png) no-repeat -312px -32px;
    width: 24px;
    height: 24px;
    min-height: 24px;
    min-width:24px;
    cursor: pointer;
}