.ms-input {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    position: relative;
}

.input-search {
    height: 30px;
    padding: 0 12px 0 10px;
    box-sizing: border-box;
    width: 100%;
    border-radius: 2px;
    border: 1px solid #ebedf0 ;
    outline: none;
}

.input-search:hover{
    outline: 1px solid #e2e2e2;
}

.input-search:focus{
    border: 1px solid #ebedf0 ;
}

.input-search::placeholder{
    font-style: italic;
    font-size: 11px;
}

.input-search__icon{
    width: 16px;
    height: 16px;
    min-width: 16px;
    min-height: 16px;
    position: absolute;
    left: auto;
    top: 6px;
    right: 12px;
    cursor: pointer;
    background: url(/assets/Sprites.5c668001.png) no-repeat -992px -360px;
}